/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
   background: #fff;
}

body {
   font-size: 16px;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
   font-size-adjust: 0.5;
}

#page {
   font-size: 1em;
   /* equivalent to 16px */
   line-height: 1.25;
   /* equivalent to 20px */
}

@media (min-width: 43.75em) {
   #page {
      font-size: 1em;
      /* equivalent to 16px */
      line-height: 1.375;
      /* equivalent to 22px */
   }
}

h1 {
   font-size: 2em;
   /* 2x body copy size = 32px */
   line-height: 1.25;
   /* 45px / 36px */
}

@media (min-width: 43.75em) {
   h1 {
      font-size: 2.5em;
      /* 2.5x body copy size = 40px */
      line-height: 1.125;
   }
}

@media (min-width: 56.25em) {
   h1 {
      font-size: 3em;
      /* 3x body copy size = 48px */
      line-height: 1.05;
      /* keep to a multiple of the 20px line height and something more appropriate for display headings */
   }
}

h2 {
   font-size: 1.625em;
   /* 1.625x body copy size = 26px */
   line-height: 1.15384615;
   /* 30px / 26px */
}

@media (min-width: 43.75em) {
   h2 {
      font-size: 2em;
      /* 2x body copy size = 32px */
      line-height: 1.25;
   }
}

@media (min-width: 56.25em) {
   h2 {
      font-size: 2.25em;
      /* 2.25x body copy size = 36px */
      line-height: 1.25;
   }
}

h3 {
   font-size: 1.375em;
   /* 1.375x body copy size = 22px */
   line-height: 1.13636364;
   /* 25px / 22px */
}

@media (min-width: 43.75em) {
   h3 {
      font-size: 1.5em;
      /* 1.5x body copy size = 24px */
      line-height: 1.25;
   }
}

@media (min-width: 56.25em) {
   h3 {
      font-size: 1.75em;
      /* 1.75x body copy size = 28px */
      line-height: 1.25;
   }
}

h4 {
   font-size: 1.125em;
   /* 1.125x body copy size = 18px */
   line-height: 1.11111111;
}

@media (min-width: 43.75em) {
   h4 {
      line-height: 1.22222222;
      /* (22px / 18px */
   }
}

blockquote {
   font-size: 1.25em;
   /* 20px / 16px */
   line-height: 1.25;
   /* 25px / 20px */
}

@media (min-width: 43.75em) {
   blockquote {
      font-size: 1.5em;
      /* 24px / 16px = */
      line-height: 1.45833333;
      /* 35px / 24px */
   }
}

h1, h2, h3, h4 {
   font-weight: 600;
}

.text-light {
   color: #cccccc;
}

.text-light a {
   color: #222222;
}

.text-light a:hover {
   color: #cccccc;
}

.center-code-block {
   display: inline-block;
   margin: 10px 0;
}
.row-text {
   padding: 1em 0;
}

.top-row{
   background-image: url('../img/keyboard.jpg');
   background-size: cover;
}

.row-dark {
   background: #41817F;
}

h1, h2, h3, h4 {
   font-family: 'Open Sans', sans-serif;
}

p {
   font-family: 'Merriweather', serif;
}
p a {
   color: #41817F;
   transition: 0.5s;
}

p a:hover {
   text-decoration: none;
   color: #000;
}

h1.intro{
   text-align: center;
   color: #cccccc;
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
}

h2.sub-intro{
   text-align: center;
   color: #cccccc;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
}

h2.intro {
   text-align: center;
   color: #ccc;
   transition: 1s;
   margin-bottom: 0.8em;
}

h1.title-icons {
   font-size: 8.0vmax;
   line-height: 1.0;
   color: #41817F;
}

h2.intro:hover {
   color: #41817F;
}

svg {
   width: 60px;
   height: 60px;
   margin: 15px 0;
}
svg .logo{
   fill: #ccc;
   transition: 0.5s;
}
svg:hover .logo{
   fill: #41817F;
}

.profile_pic {
   display: block;
   width: 200px;
   height: 200px;
   margin: 0 auto;
   border-radius: 200px;
}
.social {
   display: block;
   width: 200px;
   height: 200px;
   margin: 0 auto;
   border-radius: 200px;
   background: #000;
}

/* Overlay style */
.overlay {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: rgba(0,0,0,0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
   width: 80px;
   height: 80px;
   position: absolute;
   right: 20px;
   top: 20px;
   overflow: hidden;
   border: none;
   background: url(../img/cross.png) no-repeat center center;
   text-indent: 200%;
   color: transparent;
   outline: none;
   z-index: 100;
}

/* Menu style */
.overlay nav {
   text-align: center;
   position: relative;
   top: 50%;
   height: 60%;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
}

.overlay ul {
   list-style: none;
   padding: 0;
   margin: 0 auto;
   display: inline-block;
   height: 100%;
   position: relative;
}

.overlay ul li {
   display: block;
   height: 20%;
   height: calc(100% / 5);
   min-height: 54px;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
}

.overlay ul li a {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   display: block;
   color: #ccc;
   -webkit-transition: color 1s;
   transition: color 1s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
   color: #41817F;
   text-decoration: none;
}

/* Effects */
.overlay-door {
   visibility: hidden;
   width: 0;
   left: 50%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
   transition: width 0.5s 0.3s, visibility 0s 0.8s;
}

.overlay-door.open {
   visibility: visible;
   width: 100%;
   -webkit-transition: width 0.5s;
   transition: width 0.5s;
}

.overlay-door nav {
   position: absolute;
   left: 50%;
   -webkit-transform: translateY(-50%) translateX(-50%);
   transform: translateY(-50%) translateX(-50%);
}

.overlay-door nav,
.overlay-door .overlay-close {
   opacity: 0;
   -webkit-transition: opacity 0.3s 0.5s;
   transition: opacity 0.3s 0.5s;
}

.overlay-door.open nav,
.overlay-door.open .overlay-close {
   opacity: 1;
   -webkit-transition-delay: 0.5s;
   transition-delay: 0.5s;
}

.overlay-door.close nav,
.overlay-door.close .overlay-close {
   -webkit-transition-delay: 0s;
   transition-delay: 0s;
}

@media screen and (max-height: 30.5em) {
   .overlay nav {
      height: 70%;
      font-size: 34px;
   }
   .overlay ul li {
      min-height: 34px;
   }
}

.menu-button {
   padding: 10px 15px;
   margin: 20px 0;
   float: right;
   background: #ccc;
   border: none;
   transition: 1s;
}
.menu-button:focus {
   outline: 0;
}
.menu-button:hover {
   background: #41817F;
}
.menu-button i{
   font-size: 25px;
   color: #000;
}








